<h1>Lists<h1>

<h2>Lists are mutable<h2>

In [34]:
Countries=['Iran','Japan','USA','Canada']

In [35]:
Countries.append('Turkey')

In [36]:
print(Countries)

['Iran', 'Japan', 'USA', 'Canada', 'Turkey']

In [37]:
print(Countries[0])

Iran

<h2>Combining the Lists<h2>

In [38]:
cities=['Tehran','Tokyo','DC','Ottawa','Ankara']

In [39]:
Countries_info=Countries+cities

In [40]:
print(Countries_info)

['Iran', 'Japan', 'USA', 'Canada', 'Turkey', 'Tehran', 'Tokyo', 'DC', 'Ottawa', 'Ankara']

In [41]:
new_Countries_info=Countries.extend(cities)

In [42]:
print(new_Countries_info)

None

<h2>Finding elements in List<h2>

In [43]:
Countries[0]

'Iran'

In [44]:
Countries.index('USA')

2

<h2>Removing elements from a list<h2>

In [45]:
# Using .pop() method, it works only with position
Countries.index('Japan')
#which is 1
New_Countries=Countries.pop(1)

Countries are:  ['Iran', 'USA', 'Canada', 'Turkey', 'Tehran', 'Tokyo', 'DC', 'Ottawa', 'Ankara']

In [46]:
print('Countries are: ', Countries)
print('Deleted Countries are: ', New_Countries)

Countries are:  ['Iran', 'USA', 'Canada', 'Turkey', 'Tehran', 'Tokyo', 'DC', 'Ottawa', 'Ankara']
Deleted Countries are:  Japan

<h2>Iterating over list<h2>

In [47]:
for item in Countries:
    print(item)

Iran
USA
Canada
Turkey
Tehran
Tokyo
DC
Ottawa
Ankara

In [48]:
# Sort the names in alphabetical order
for name in sorted(Countries_info):
    # Print each name
    print(name)

Ankara
Canada
DC
Iran
Japan
Ottawa
Tehran
Tokyo
Turkey
USA

<h1>Tuples<h1>

In [50]:
boy_names=['JOSIAH',
 'ETHAN',
 'David',
 'Jayden',
 'MASON',
 'RYAN',
 'CHRISTIAN',
 'ISAIAH',
 'JAYDEN',
 'Michael',
 'NOAH',
 'SAMUEL',
 'SEBASTIAN',
 'Noah',
 'Dylan',
 'LUCAS',
 'JOSHUA',
 'ANGEL',
 'Jacob',
 'Matthew',
 'Josiah',
 'JACOB',
 'Muhammad',
 'ALEXANDER',
 'Jason',
 'Ethan',
 'DANIEL',
 'Joseph',
 'AIDEN',
 'Moshe',
 'Jeremiah',
 'William',
 'Alexander',
 'Sebastian',
 'ERIC',
 'MOSHE',
 'Jack',
 'Eric',
 'MUHAMMAD',
 'Lucas',
 'BENJAMIN',
 'Aiden',
 'Ryan',
 'Liam',
 'JASON',
 'KEVIN',
 'Elijah',
 'Angel',
 'JAMES',
 'Daniel',
 'Samuel',
 'Amir',
 'Mason',
 'Joshua',
 'ANTHONY',
 'JOSEPH',
 'Benjamin',
 'JUSTIN',
 'JEREMIAH',
 'MATTHEW',
 'Carter',
 'James',
 'TYLER',
 'DAVID',
 'JACK',
 'ELIJAH',
 'MICHAEL',
 'CHRISTOPHER']

In [52]:
girl_names=['JADA',
 'Emily',
 'Ava',
 'SERENITY',
 'Claire',
 'SOPHIA',
 'Sarah',
 'ASHLEY',
 'CHAYA',
 'ABIGAIL',
 'Zoe',
 'LEAH',
 'HAILEY',
 'AVA',
 'Olivia',
 'EMMA',
 'CHLOE',
 'Sophia',
 'AALIYAH',
 'Angela',
 'Camila',
 'Savannah',
 'Serenity',
 'Chloe',
 'Fatoumata',
 'ISABELLA',
 'MIA',
 'FIONA',
 'Skylar',
 'Ashley',
 'Rachel',
 'Sofia',
 'Alina',
 'MADISON',
 'RACHEL',
 'CAMILA',
 'CHANA',
 'TAYLOR',
 'Kayla',
 'Miriam',
 'Leah',
 'Grace',
 'ANGELA',
 'Isabella',
 'Emma',
 'KAYLA',
 'SOFIA',
 'Madison',
 'Aaliyah',
 'Taylor',
 'GENESIS',
 'Esther',
 'MAKAYLA',
 'Victoria',
 'Chaya',
 'Brielle',
 'Anna',
 'Samantha',
 'ESTHER',
 'GRACE',
 'Mariam',
 'Mia',
 'NEVAEH',
 'GABRIELLE',
 'EMILY',
 'London',
 'TIFFANY',
 'Chana',
 'Valentina',
 'OLIVIA',
 'LONDON',
 'MIRIAM',
 'SARAH',
 'ELLA']

In [54]:
# Pair up the girl and boy names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for idx, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    boy_name, girl_name = pair
    # Print the rank and names associated with each rank
    print('Rank {}: {} and {}'.format(idx, boy_name, girl_name))

<h1>Sets<h1>

<h2>Setes are mutable and provide opportunity to check the overlapping and differences<h2>

In [55]:
# Find the union: all_names
baby_names_2011=set(girl_names)
baby_names_2014=set(boy_names)
all_names = baby_names_2011.union(baby_names_2014)

# Print the count of names in all_names
print(len(all_names))

# Find the intersection: overlapping_names
overlapping_names = baby_names_2011.intersection(baby_names_2014)


# Print the count of names in overlapping_names
print(len(overlapping_names))

142
0

In [ ]:
# Create the empty set: baby_names_2011
baby_names_2011 = set()

# Loop over records and add the names from 2011 to the baby_names_2011 set
for row in records:
    # Check if the first column is '2011'
    if row[0] == '2011':
        # Add the fourth column to the set
        baby_names_2011.add(row[3])

# Find the difference between 2011 and 2014: differences
differences = baby_names_2011.difference(baby_names_2014)

# Print the differences
print(differences)

<h1>Dictionaries<h1>

In [59]:
female_baby_names_2012={44: 'RIVKY',
 26: 'JULIA',
 43: 'TOBY',
 37: 'MALKY',
 19: 'ABIGAIL',
 25: 'ZOE',
 42: 'PENELOPE',
 39: 'MALKA',
 33: 'SHAINDY',
 36: 'MADISON',
 35: 'GITTY',
 32: 'STELLA',
 41: 'MADELINE',
 7: 'CHAYA',
 38: 'EVA',
 18: 'ELIZABETH',
 30: 'GRACE',
 34: 'FAIGY',
 14: 'SARA',
 45: 'NICOLE',
 20: 'ALEXANDRA',
 12: 'EMILY',
 29: 'HANNAH',
 1: 'EMMA',
 40: 'ALEXA',
 28: 'GABRIELLA',
 24: 'RIVKA',
 4: 'SOPHIA',
 5: 'ESTHER',
 27: 'SOPHIE',
 22: 'LILY',
 10: 'MIRIAM',
 8: 'AVA',
 9: 'CHANA',
 13: 'MIA',
 6: 'RACHEL',
 17: 'MAYA',
 31: 'AVERY',
 11: 'ELLA',
 23: 'SOFIA',
 3: 'SARAH',
 21: 'VICTORIA',
 16: 'ISABELLA',
 2: 'LEAH',
 15: 'CHARLOTTE',
 46: 'VIOLET',
 47: 'NATALIE',
 69: 'LILIANA',
 62: 'SURY',
 71: 'SAVANNAH',
 75: 'VERA',
 72: 'VANESSA',
 48: 'REBECCA',
 77: 'SYLVIA',
 67: 'TAYLOR',
 57: 'VALENTINA',
 73: 'SIMONE',
 79: 'SHAINA',
 53: 'RILEY',
 64: 'YIDES',
 78: 'SIMA',
 51: 'NINA',
 74: 'SLOANE',
 63: 'NAOMI',
 70: 'YAEL',
 55: 'SYDNEY',
 68: 'ZOEY',
 76: 'YEHUDIS',
 60: 'FRANCESCA',
 49: 'MARIA',
 61: 'ZISSY',
 65: 'SKYLAR',
 59: 'JOSEPHINE',
 66: 'VERONICA',
 50: 'YITTY',
 58: 'TALIA',
 52: 'KATHERINE',
 54: 'SIENNA',
 56: 'VIVIENNE',
 81: 'YITTA',
 83: 'YARA',
 82: 'TZIVIA',
 80: 'TZIPORA'}

In [60]:
# Create an empty dictionary: names_by_rank
names_by_rank={}

# Loop over the girl names
for rank, name in female_baby_names_2012.items():
    # Add each name to the names_by_rank dictionary using rank as the key
    names_by_rank[rank]=name
    
# Sort the names_by_rank dict by rank in descending order and slice the first 10 items
for rank in sorted(names_by_rank,reverse=True)[:10]:
    # Print each item
    print(names_by_rank[rank])

YARA
TZIVIA
YITTA
TZIPORA
SHAINA
SIMA
SYLVIA
YEHUDIS
VERA
SLOANE

In [61]:
boy_names={2013: {50: 'Logan',
  13: 'Henry',
  54: 'Yaakov',
  47: 'Yitzchok',
  49: 'Menachem',
  32: 'Luke',
  44: 'Aron',
  56: 'Omar',
  42: 'Aaron',
  5: 'Daniel',
  43: 'Zachary',
  45: 'Luca',
  24: 'Anthony',
  16: 'Nicholas',
  30: 'Leo',
  25: 'Isaac',
  57: 'Levi',
  19: 'Chaim',
  51: 'Aiden',
  37: 'Christopher',
  55: 'Yakov',
  33: 'Jackson',
  21: 'Liam',
  36: 'Joshua',
  53: 'Peter',
  38: 'Sebastian',
  7: 'James',
  52: 'Yisroel',
  40: 'Eli',
  27: 'Andrew',
  35: 'Theodore',
  8: 'Jacob',
  2: 'Joseph',
  14: 'Noah',
  34: 'Shimon',
  46: 'Yehuda',
  29: 'Yosef',
  22: 'Ryan',
  9: 'Jack',
  1: 'David',
  28: 'Gabriel',
  48: 'Owen',
  26: 'Oliver',
  11: 'William',
  31: 'Thomas',
  23: 'Lucas',
  10: 'Alexander',
  39: 'Mason',
  4: 'Moshe',
  41: 'Nathan',
  17: 'Matthew',
  12: 'John',
  6: 'Benjamin',
  20: 'Abraham',
  18: 'Adam',
  3: 'Michael',
  15: 'Samuel',
  62: 'Jonah',
  61: 'Connor',
  60: 'Patrick',
  59: 'Shmuel',
  58: 'Simon',
  79: 'Parker',
  82: 'Nicolas',
  95: 'Sawyer',
  94: 'Yoel',
  90: 'Rayan',
  73: 'Sean',
  85: 'Usher',
  92: 'Yossi',
  65: 'Nathaniel',
  93: 'Wesley',
  81: 'Yechiel',
  69: 'Hunter',
  76: 'Martin',
  74: 'Sam',
  87: 'Yusuf',
  67: 'Tyler',
  88: 'Yehoshua',
  84: 'Spencer',
  83: 'Timothy',
  63: 'Zev',
  86: 'Rafael',
  91: 'Tristan',
  89: 'Shaya',
  71: 'Lipa',
  66: 'Harrison',
  68: 'Mark',
  75: 'Solomon',
  78: 'Wyatt',
  80: 'Steven',
  64: 'Tzvi',
  70: 'Mohamed',
  72: 'Mendel',
  77: 'Edward',
  96: 'Yousef',
  100: 'Yitzchak',
  99: 'Yeshaya',
  97: 'Walter',
  98: 'Zalmen'},
 2014: {54: 'Aron',
  14: 'Henry',
  58: 'Miles',
  38: 'Andrew',
  33: 'Eli',
  42: 'Jackson',
  51: 'Yitzchok',
  56: 'Levi',
  57: 'Shmuel',
  39: 'Zachary',
  5: 'Jacob',
  40: 'Owen',
  48: 'Asher',
  26: 'Lucas',
  21: 'Noah',
  50: 'Robert',
  47: 'Jonathan',
  55: 'Mark',
  36: 'Mason',
  29: 'Anthony',
  45: 'Aiden',
  37: 'Mordechai',
  53: 'Christian',
  18: 'Ethan',
  52: 'George',
  24: 'Theodore',
  34: 'Shimon',
  30: 'Oliver',
  7: 'Alexander',
  46: 'Christopher',
  22: 'Matthew',
  9: 'Samuel',
  2: 'David',
  11: 'James',
  35: 'Luke',
  28: 'Yosef',
  44: 'Nathan',
  20: 'Ryan',
  10: 'Jack',
  1: 'Joseph',
  49: 'Logan',
  32: 'Gabriel',
  17: 'John',
  15: 'Abraham',
  19: 'Liam',
  16: 'Nicholas',
  4: 'Moshe',
  13: 'William',
  12: 'Adam',
  27: 'Thomas',
  6: 'Benjamin',
  23: 'Chaim',
  41: 'Yehuda',
  31: 'Max',
  3: 'Michael',
  25: 'Isaac',
  8: 'Daniel',
  43: 'Yisroel',
  59: 'Shlomo',
  60: 'Peter',
  90: 'Naftali',
  75: 'Shia',
  98: 'Yisrael',
  88: 'Youssef',
  74: 'Oscar',
  84: 'Philip',
  93: 'Shmiel',
  95: 'Naftuli',
  68: 'Yakov',
  96: 'Yusuf',
  89: 'Simcha',
  91: 'Ronan',
  78: 'Tyler',
  72: 'Edward',
  92: 'Usher',
  69: 'Hunter',
  85: 'Timothy',
  80: 'Sam',
  82: 'Ian',
  94: 'Yousef',
  66: 'Nathaniel',
  87: 'Xavier',
  97: 'Yossi',
  73: 'Yechiel',
  67: 'Yaakov',
  86: 'Yehoshua',
  81: 'Shaya',
  70: 'Vincent',
  79: 'Wyatt',
  61: 'Sean',
  64: 'Gavin',
  83: 'Raphael',
  65: 'Zev',
  62: 'Eliezer',
  76: 'Leonardo',
  77: 'Victor',
  63: 'Solomon',
  71: 'Ari',
  100: 'Yoel',
  101: 'Yahya',
  99: 'Shea',
  102: 'Yidel'},
 2012: {}}

In [62]:
# Print a list of keys from the boy_names dictionary
print(boy_names.keys())

# Print a list of keys from the boy_names dictionary for the year 2013
print(boy_names.get(2013).keys())

# Loop over the dictionary
for year in boy_names:
    # Safely print the year and the third ranked name or 'Unknown'
    print(year, boy_names[year].get(3, 'Unknown'))

dict_keys([2013, 2014, 2012])
dict_keys([50, 13, 54, 47, 49, 32, 44, 56, 42, 5, 43, 45, 24, 16, 30, 25, 57, 19, 51, 37, 55, 33, 21, 36, 53, 38, 7, 52, 40, 27, 35, 8, 2, 14, 34, 46, 29, 22, 9, 1, 28, 48, 26, 11, 31, 23, 10, 39, 4, 41, 17, 12, 6, 20, 18, 3, 15, 62, 61, 60, 59, 58, 79, 82, 95, 94, 90, 73, 85, 92, 65, 93, 81, 69, 76, 74, 87, 67, 88, 84, 83, 63, 86, 91, 89, 71, 66, 68, 75, 78, 80, 64, 70, 72, 77, 96, 100, 99, 97, 98])
2013 Michael
2014 Michael
2012 Unknown

In [ ]:
# Assign the names_2011 dictionary as the value to the 2011 key of boy_names
boy_names[2011] = names_2011

# Update the 2012 key in the boy_names dictionary
updates=[(1, 'Casey'), (2, 'Aiden')]
boy_names[2012].update(updates)

# Loop over the years in the boy_names dictionary 
for year in boy_names:
    # Sort the data for each year by descending rank and get the lowest one
    lowest_ranked =  sorted(boy_names[year], reverse=True)[0]
    # Safely print the year and the least popular name or 'Not Available'
    print(year, boy_names[year].get(lowest_ranked,'Not Available'))

In [ ]:
# Remove 2011 from female_names and store it: female_names_2011
female_names_2011 = female_names.pop(2011)

# Safely remove 2015 from female_names with an empty dictionary as the default: female_names_2015
female_names_2015 = female_names.pop(2015,{})


# Delete 2012 from female_names
del(female_names[2012])

# Print female_names
print(female_names)

In [ ]:
# Iterate over the 2014 nested dictionary
for rank, name in baby_names[2014].items():
    # Print rank and name
    print(rank, name)
    
# Iterate over the 2012 nested dictionary
for rank, name in baby_names[2014].items():
    # Print rank and name
    print(rank, name)

In [ ]:
# Import the python CSV module
import csv

# Create a python file object in read mode for the baby_names.csv file: csvfile
csvfile = open('baby_names.csv', 'r')

# Loop over a csv reader on the file object
for row in csv.reader(csvfile):
    # Print each row 
    print(row)
    # Add the rank and name to the dictionary
    baby_names[row[5]] = row[3]

# Print the dictionary keys
print(baby_names.keys())

In [ ]:
# Import the python CSV module
import csv 

# Create a python file object in read mode for the `baby_names.csv` file: csvfile
csvfile = open('baby_names.csv','r')

# Loop over a DictReader on the file
for row in csv.DictReader(csvfile):
    # Print each row 
    print(row)
    # Add the rank and name to the dictionary: baby_names
    baby_names[row['RANK']] = row['NAME']

# Print the dictionary keys
print(baby_names.keys())

In [ ]:
# Import the Counter object
from collections import Counter

# Print the first ten items from the stations list
print(stations[:10])

# Create a Counter of the stations list: station_count
station_count = Counter(stations)

# Print the station_count
print(station_count)

In [ ]:
# Create an empty dictionary: ridership
ridership = {}

# Iterate over the entries
for date, stop, riders in entries:
    # Check to see if date is already in the ridership dictionary
    if date not in ridership:
        # Create an empty list for any missing date
        ridership[date] = []
    # Append the stop and riders as a tuple to the date keys list
    ridership[date].append((stop,riders))
    
# Print the ridership for '03/09/2016'
print(ridership['03/09/2016'])

In [ ]:
# Import defaultdict
from collections import defaultdict

# Create a defaultdict with a default type of list: ridership
ridership = defaultdict(list)

# Iterate over the entries
for date, stop, riders in entries:
    # Use the stop as the key of ridership and append the riders to its value
    ridership[stop].append(riders)
    
# Print the first 10 items of the ridership dictionary
print(list(ridership.items())[:10])

In [ ]:
# Import OrderedDict from collections
from collections import OrderedDict

# Create an OrderedDict called: ridership_date
ridership_date = OrderedDict()

# Iterate over the entries
for date, riders in entries:
    # If a key does not exist in ridership_date, set it to 0
    if  date not in ridership_date:
        ridership_date[date] = 0
        
    # Add riders to the date key in ridership_date
    ridership_date[date] += riders
    
# Print the first 31 records
print(list(ridership_date.items())[:31])

In [ ]:
# Import namedtuple from collections
from collections import namedtuple

# Create the namedtuple: DateDetails
DateDetails = namedtuple('DateDetails', ['date', 'stop', 'riders'])

# Create the empty list: labeled_entries
labeled_entries = []

# Iterate over the entries list
for date, stop, riders in entries:
    # Append a new DateDetails namedtuple instance for each entry to labeled_entries
    labeled_entries.append(DateDetails(date,stop,riders))
    
# Print the first 5 items in labeled_entries
print(labeled_entries[:5])

In [ ]:
# Iterate over the first twenty items in labeled_entries
for item in labeled_entries[:20]:
    # Print each item's stop
    print(item.stop)

    # Print each item's date
    print(item.date)

    # Print each item's riders
    print(item.riders)

<h2>Date Time<h2>

In [ ]:
# Import the datetime object from datetime
from datetime import datetime

# Iterate over the dates_list 
for date_str in dates_list:
    # Convert each date to a datetime object: date_dt
    date_dt = datetime.strptime(date_str,'%m/%d/%Y')
    
    # Print each date_dt
    print(date_dt)

In [ ]:
# Loop over the first 10 items of the datetimes_list
for item in datetimes_list[:10]:
    # Print out the record as a string in the format of 'MM/DD/YYYY'
    print(item.strftime('%m/%d/%Y'))
    
    # Print out the record as an ISO standard string
    print(item.isoformat())

In [ ]:
# Create a defaultdict of an integer: monthly_total_rides
monthly_total_rides = defaultdict(int)

# Loop over the list daily_summaries
for daily_summary in daily_summaries:
    # Convert the service_date to a datetime object
    service_datetime = datetime.strptime(daily_summary[0],'%m/%d/%Y')

    # Add the total rides to the current amount for the month
    monthly_total_rides[service_datetime.month] += int(list(daily_summary)[4])
    
# Print monthly_total_rides
print(monthly_total_rides)

In [ ]:
# Create a Timezone object for Chicago
chicago_usa_tz = timezone('US/Central')

# Create a Timezone object for New York
ny_usa_tz = timezone('US/Eastern')

# Iterate over the daily_summaries list
for orig_dt, ridership in daily_summaries:

    # Make the orig_dt timezone "aware" for Chicago
    chicago_dt = orig_dt.replace(tzinfo=chicago_usa_tz)
    
    # Convert chicago_dt to the New York Timezone
    ny_dt = chicago_dt.astimezone(ny_usa_tz)
    
    # Print the chicago_dt, ny_dt, and ridership
    print('Chicago: %s, NY: %s, Ridership: %s' % (chicago_dt, ny_dt, ridership))

In [ ]:
# Import timedelta from the datetime module
from datetime import timedelta

# Build a timedelta of 30 days: glanceback
glanceback = timedelta(30)

# Iterate over the review_dates as date
for date in review_dates:
    # Calculate the date 30 days back: prior_period_dt
    prior_period_dt = date - glanceback
    
    # Print the review_date, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (date, 
          daily_summaries[date]['day_type'], 
          daily_summaries[date]['total_ridership']))

    # Print the prior_period_dt, day_type and total_ridership
    print('Date: %s, Type: %s, Total Ridership: %s' %
         (prior_period_dt, 
          daily_summaries[prior_period_dt]['day_type'], 
          daily_summaries[prior_period_dt]['total_ridership']))

<h2>Pendulum module<h2>

In [ ]:
# Import the pendulum module
import pendulum

# Create a now datetime for Tokyo: tokyo_dt
tokyo_dt = pendulum.now('Asia/Tokyo')

# Covert the tokyo_dt to Los Angeles: la_dt
la_dt = tokyo_dt.in_timezone('America/Los_Angeles')

# Print the ISO 8601 string of la_dt
print(la_dt.to_iso8601_string())

In [ ]:
# Iterate over date_ranges
for start_date, end_date in date_ranges:

    # Convert the start_date string to a pendulum date: start_dt 
    start_dt = pendulum.parse(start_date, strict=False)
    
    # Convert the end_date string to a pendulum date: end_dt 
    end_dt = pendulum.parse(end_date, strict=False)
    
    # Print the End and Start Date
    print(end_dt, start_dt)
    
    # Calculate the difference between end_dt and start_dt: diff_period
    diff_period = end_dt - start_dt
    
    # Print the difference in days
    print(diff_period.in_days())

In [ ]:
# Import the csv module
import csv

# Create the file object: csvfile
csvfile = open('crime_sampler.csv','r')

# Create an empty list: crime_data
crime_data = []

# Loop over a csv reader on the file object
for row in csv.reader(csvfile):

    # Append the date, type of crime, location description, and arrest
    crime_data.append((row[0], row[2], row[4], row[5]))
    
# Remove the first element from crime_data
crime_data.pop(0)

# Print the first 10 records
print(crime_data[:10])

In [ ]:
# Import necessary modules
from datetime import datetime
from collections import Counter

# Create a Counter Object: crimes_by_month
crimes_by_month = Counter()

# Loop over the crime_data list
for dates in crime_data:
    
    # Convert the first element of each item into a Python Datetime Object: date
    date = datetime.strptime(dates[0], '%m/%d/%Y %I:%M:%S %p')
    
    # Increment the counter for the month of the row by one
    crimes_by_month[date.month] += 1
    
# Print the 3 most common months for crime
print(crimes_by_month.most_common(3))

In [ ]:
# Import necessary modules
from collections import defaultdict
from datetime import datetime

# Create a dictionary that defaults to a list: locations_by_month
locations_by_month = defaultdict(list)

# Loop over the crime_data list
for row in crime_data:
    # Convert the first element to a date object
    date =datetime.strptime(row[0], '%m/%d/%Y %I:%M:%S %p')
    
    # If the year is 2016 
    if date.year == 2016:
        # Set the dictionary key to the month and append the location (fifth element) to the values list
        locations_by_month[date.month].append(row[4])
    
# Print the dictionary
print(locations_by_month)

In [ ]:
# Import Counter from collections
from collections import Counter

# Loop over the items from locations_by_month using tuple expansion of the month and locations
for month, locations in locations_by_month.items():
    # Make a Counter of the locations
    location_count = Counter(locations)
    # Print the month 
    print(month)
    # Print the most common location
    print(location_count.most_common(5))

In [ ]:
# Create the CSV file: csvfile
csvfile = open('crime_sampler.csv', 'r')

# Create a dictionary that defaults to a list: crimes_by_district
crimes_by_district = defaultdict(list)

# Loop over a DictReader of the CSV file
for row in csv.DictReader(csvfile):
    # Pop the district from each row: district
    district = row.pop('District')
    # Append the rest of the data to the list for proper district in crimes_by_district
    crimes_by_district[district].append(row)

In [ ]:
# Loop over the crimes_by_district using expansion as district and crimes
for district, crimes in crimes_by_district.items():
    # Print the district
    print(district)
    #print(crime)
    
    # Create an empty Counter object: year_count
    year_count = Counter()
    
    # Loop over the crimes:
    for crime in crimes:
        # If there was an arrest
        if crime['Arrest'] == 'true':
            # Convert the Date to a datetime and get the year
            year = datetime.strptime(crime['Date'], '%m/%d/%Y %I:%M:%S %p').year
            # Increment the Counter for the year
            year_count[year] += 1
            
    # Print the counter
    print(year_count)

In [ ]:
# Create a unique list of crimes for the first block: n_state_st_crimes
n_state_st_crimes = set(crimes_by_block['001XX N STATE ST'])

# Print the list
print(n_state_st_crimes)

# Create a unique list of crimes for the second block: w_terminal_st_crimes
w_terminal_st_crimes = set(crimes_by_block['0000X W TERMINAL ST'])

# Print the list
print(w_terminal_st_crimes)

# Find the differences between the two blocks: crime_differences
crime_differences = n_state_st_crimes.difference(w_terminal_st_crimes)

# Print the differences
print(crime_differences)

<h2>Function<h2>

In [ ]:
# Define count_entries()
def count_entries(df, col_name):
    """Return a dictionary with counts of 
    occurrences as value for each key."""

    # Initialize an empty dictionary: langs_count
    langs_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over lang column in DataFrame
    for entry in col:

        # If the language is in langs_count, add 1
        if entry in langs_count.keys():
            langs_count[entry]+=1
        # Else add the language to langs_count, set the value to 1
        else:
            langs_count[entry]=1

    # Return the langs_count dictionary
    return(langs_count)

# Call count_entries(): result
result=count_entries(tweets_df,'lang')

# Print the result
print(result)

<h2>Raise error<h2>

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if echo<0:
        raise ValueError('echo must be greater than or equal to 0')

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo
shout_echo("particle", echo=5)

In [ ]:
# Select retweets from the Twitter DataFrame: result
result = filter(lambda x: x[0:2]=='RT', tweets_df['text'])

# Create list from filter object result: res_list
res_list=list(result)

# Print all retweets in res_list
for tweet in res_list:
    print(tweet)

In [ ]:
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Add try block
    try:
        # Extract column from DataFrame: col
        col = df[col_name]
        
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1
    
        # Return the cols_count dictionary
        return cols_count

    # Add except block
    except:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Print result1
print(result1)

In [71]:
xx=['a',3,45]

In [73]:
xx.append('Omid')

In [75]:
xx.extend('Adrian')
#['a', 3, 45, 'Omid', 'A', 'd', 'r', 'i', 'a', 'n']

In [81]:
xxx={'name':'Omid','Age':34}

In [82]:
xxx['name']

'Omid'

In [83]:
xxx['Education']='PhD'

In [86]:
xxx['Sport']='Box'

AttributeError: 'str' object has no attribute 'append'